name: Deploy Next.js to GH Pages
permissions:
  id-token: write
  pages: write
  contents: read

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages

    steps:
      - uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Upload to GH Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./out

      - name: Deploy
        uses: actions/deploy-pages@v4
